@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
}

/* ! Estilos para las principales cajas */
.main-box{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5vh auto;
    gap: 10px;
}

.prompt-section{
    flex: 11;
    height: 90vh;
    width: 100%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results-section{
    flex: 4;
    height: 90vh;
    width: 100%;
    background-color: #fff;
    border-radius: 32px;
    
}

/* ! Estilos para la seccion del prompt */
.prompt-box{
    width: 65%;
    height: 70%;
    margin: 0 auto;
    color: #0A3871;
}

#prompt{
    width: 100%;
    height: 100%;
    font-size: 32px;
    background-color: #F3F5FC;
    color: #0A3871;
    line-height: 48px;
    resize: none;
    border: none;
}

#prompt::placeholder{
    color: #0A3871;
    border: none;
}

#prompt:focus{
    outline: none;
}

.prompt-box p{
    color: #495057;
    font-size: 12px;
}

.caja__abajo{
    width: 67%;
    margin: 0 auto;
}

.button-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.botones{
    width: 40%;
    height: 67px;
    border-radius: 24px;
    font-size: 18px;
    cursor: pointer;
}

.botones:first-child{
    background-color: #0A3871;
    color: #fff;
}

.botones:last-child{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}


/* ! Estilos para la seccion de resultados */
.no-results-box{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.no-results-box h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
}
.no-results-box img{
    width: 336px;
    height: 304px;
}

.no-results-box .caja__texto{
    width: 250px;
}

.caja__texto p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
}

.results-box{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto__respuesta{
    margin: 20px;
    font-size: 30px;
    line-height: 48px;
    overflow-wrap: break-word;
    overflow: auto;
}

.results-box button{
    width: 80%;
    margin-bottom: 10px;
}

.caja__abajo__resultados{
    text-align: center;
    width: 100%;
}

.ocultar{
    display: none;   
}

.caja__abajo__resultados .btn__copiar{
    width: 90%;

}


@media(max-width: 1024px) {
    .main-box{
        display: block;
    }

    .results-section{
        height: auto;
        margin-top: 35px;
    }

    .no-results-box{
        height: 10rem;
    }

    .no-results-box img{
        display: none;
    }

    .no-results-box .caja__texto{
        width: 80%;
    }

    .caja__abajo__resultados .btn__copiar{
        width: 95%;
    }

    .botones{
        width: 40%;
    }

    .caja__abajo{
        width: 100%;
    }

    .results-box{
        height: auto;
        padding: 20px  50px 0 50px ;
    }
}

@media(max-width: 400px){
    .main-box{
        margin: 2vh auto;
    }

    .prompt-section img{
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .prompt-section-header{
        margin-bottom: 15px;
    }

    .button-box{
        display: block;
        text-align: center;
    }

    .button-box button{
        width: 95%;
        margin-bottom: 10px;
    }

    .caja__abajo__resultados .btn__copiar{
        width: 100%;
    }

    .results-box{
        width: auto;
        margin: 0;
        padding: 0 20px;
    }

    .texto__respuesta{
        margin: 15px 0;
        padding: 0;
    }

    .prompt-box{
        width: 90%;
    }

    .caja__abajo {
        margin-top: 15px;
    }
}

